<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>新建记录</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<aside>
<h1><a href="/">🐟 咸鱼 OS</a></h1>
<a href="/new">＋ 新建记录</a><a href="/project">📌 项目中心</a>
<a href="/search">🔍 全局搜索</a>
{% for key, item in modules.items() %}
<a href="/module/{{ key }}">{{ item[1] }}</a>
{% endfor %}
</aside>

<main>
<h2>＋ 新建科研记录</h2>

<section>
<form method="post" action="/new">
  <p>
    <label>记录类型</label><br>
    <select name="record_type">
      {% for key, item in create_map.items() %}
      <option value="{{ key }}">{{ item[1] }}</option>
      {% endfor %}
    </select>
  </p>

  <p>
    <label>名称</label><br>
    <input name="name" placeholder="例如：CCK8 / Discussion / 槲皮素_AKT1" required>
  </p>

  <button type="submit">生成记录</button>
</form>
</section>
</main>
</body>
</html>
